/***************************/
/* LAPTOP DISPLAY */
/***************************/
@media only screen and (max-width: 1024px) {
  html {
    /* 9px / 16px*/
    font-size: 56.25%;
  }
  .header {
    grid-column-gap: 0rem;
  }

  .section-information {
    display: flex;
    flex-direction: column;
  }
}
/***************************/
/* TABLET DISPLAY  */
/***************************/
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header {
    display: flex;
    z-index: 9999;
    padding: 10px;
    justify-content: space-between;
  }
  .header img {
    width: 35%;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .section-investment {
    display: flex;
    flex-direction: column;
  }
  .menu-btn {
    display: flex;
  }

  .main-nav {
    display: none;
  }

  .hero {
    justify-content: center;
    align-items: flex-end;
    height: 89vh;
  }

  .hero-text {
    margin-bottom: 4rem;
    width: max-content;
  }

  .hero-text h1 {
    margin-bottom: 1.2rem;
  }

  .hero-text .quote {
    margin-bottom: 1.8rem;
  }

  .information-title {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
  }

  .carousel {
    padding: 1rem 2rem 4rem 2rem;
  }

  .package-title {
    justify-content: center;
  }

  .package-title .number {
    display: none;
  }

  .package-paragraph {
    text-align: center;
  }

  .img--1 {
    order: 1;
  }

  .text--1 {
    order: 2;
  }
  .img--2 {
    order: 3;
  }
  .text--2 {
    order: 4;
  }

  .img--3 {
    order: 5;
  }

  .text--3 {
    order: 6;
  }

  .img--4 {
    order: 7;
  }

  .text--4 {
    order: 8;
  }

  .img--5 {
    order: 9;
  }
  .text--5 {
    order: 10;
  }

  .info-img {
    align-self: center;
  }

  .faq-img {
    display: none;
  }

  .question1,
  .question2,
  .question3 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .answer1,
  .answer2,
  .answer3 {
    font-size: 1.4rem;
  }
  .section-contact-us {
    display: none;
  }

  .section-contact-us-mob {
    display: flex;
  }
}

/***************************/
/* MOBILE DISPLAY  */
/***************************/

@media only screen and (max-width: 600px) {
  .hero {
    height: 93vh;
  }

  .section-portfolio {
    background-color: white;
    height: max-content;
    justify-content: center;
    padding: 0;
  }
  .section-investment {
    padding: 10rem 0rem 5rem 0rem;
  }

  .section-investment .grid {
    padding: 0 2rem 8rem 2rem;
    row-gap: 4rem;
  }
}
